doctype html

html(lang="en" ng-app='app' ng-controller="MainController as main")
  head
    title {{ main.title }}
    // inject:css 
    // endinject 
  body(ng-controller="IndexController as index")
    h1 {{ index.title }}
    // inject:js 
    // endinject 